# GOOGLE
GEMINI_API_KEY="YOUR_API_KEY"
GOOGLE_AUTH_CLIENT_ID="YOUR_ID"
GOOGLE_AUTH_CLIENT_SECRET="YOUR_SECRET"
GOOGLE_APPLICATION_CREDENTIALS="YOUR_SECRET"

# POSTGRES
POSTGRES_USER="user"
POSTGRES_PASSWORD="your_secure_password"
POSTGRES_DB="mydatabase"

# HETZNER
HETZNER_API_KEY="YOUR_SECRET"

# STAGE
STAGE="prod/dev"
