/* src/Navbar.css */
.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f0f0f0; /* A bit darker than pure white */
    padding: 10px 20px;
    height: 60px; /* Set a specific height for the navbar */
}

.Navbar-logo {
    height: 40px; /* Adjust the height of the logo */
    margin-right: 20px; /* Space between logo and title */
}

.Navbar-title {
    font-size: 1.5rem; /* Adjust the font size as needed */
    color: #333; /* Set the text color */
}

